section.section.banner(style="background-image:url('assets/images/inner-pages.jpg');", data-img-width='1920', data-img-height='644', data-diff='100')
  .container
    .page-header.text-center
      h1 Question Time
      .bread
        ol.breadcrumb
          li
            a(href='/#/') Home
          li.active FAQ
.container-fluid
  .row
    .col-md-12.col-sm-12.col-xs-12.nopad
      .about-height
        p ....