section.section.banner(style="background-image:url('../assets/images/inner-pages.jpg');", data-img-width='1920', data-img-height='644', data-diff='100')
  .container
    .page-header.text-center
      h1 Frequently Asked Questions
      .bread
        ol.breadcrumb
          li
            a(href='/#!/') Home
          li.active FAQ
.container-fluid
  .row
    .col-md-10.col-md-offset-1.col-sm-12
      .col-md-6
        .about-box.question-box
          h4
            span Q :
            |  Why Beard Shine?
          p.lead
            | It's rather a long story, but the short version is we were tired of paying high prices for high quality beard oil. We even tried one of those "beard clubs" until we realized what was in their products. Our goal is to make an organic, great smelling beard oil all while keeping the cost low.
      .col-md-6
        .about-box.question-box
          h4
            span Q :
            |  Help! I have a problem with my order!
          p.lead
            | First, we are sorry to hear that. Secondly, please email us at 
            a(href='mailto:beardshineatl@gmail.com') beardshine@gmail 
            | and we will get back to you as soon as possible, usually in less than a day.
  .row
    .col-md-10.col-md-offset-1.col-sm-12
      .col-md-6
        .about-box.question-box
          h4
            span Q :
            |  Why Beard Shine?
          p.lead
            | It's rather a long story, but the short version is we were tired of paying high prices for high quality beard oil. We even tried one of those "beard clubs" until we realized what was in their products. Our goal is to make an organic, great smelling beard oil all while keeping the cost low.
      .col-md-6
        .about-box.question-box
          h4
            span Q :
            |  Help! I have a problem with my order!
          p.lead
            | First, we are sorry to hear that. Secondly, please email us at 
            a(href='mailto:beardshineatl@gmail.com') beardshine@gmail 
            | and we will get back to you as soon as possible, usually in less than a day.