.container
  .row
    .col-md-9
      img(src='assets/images/hero.jpg')
    .col-md-3
      .msidebar.infobox
        h4 100% ORGANIC
        p The highest quality product
      .msidebar.infobox
        h4 FREE SHIPPING
        p Free shipping on orders over $50
      .msidebar.last-child.newsletterform
        .widget-title
          h4 Stay In The Know
        form(method='post')
          input.form-control(type='text', name='username', placeholder='Username')
          input.form-control(type='email', name='username', placeholder='Email Address')
          button.btn.btn-block.btn-primary.btn-sm(type='submit') Subscribe
  hr.invis
  .row
    .col-md-12
      .shop-item.col-md-3(ng-repeat='product in vm.products')
        a(href='/#/product/{{ product.sku }}')
          .entry
            img(ng-src='assets/images/{{ product.image }}', alt='{{ product.name }}')
            .shop-item-title.text-center.clearfix
              h4 {{ product.name }}
              .shopmeta.clearfix
                span ${{ product.price }}
  hr.invis