.container
  .row
    .col-md-9
      img(src='assets/images/hero.jpg')
    .col-md-3
      .msidebar.infobox
        h4 100% ORGANIC
        p Made from the good stuff
      .msidebar.infobox
        h4 FREE SHIPPING
        p Free shipping on orders over $50
      .msidebar.last-child.newsletterform
        .widget-title
          h4 Stay In The Know
        form(method='post', action='//myshopify.us14.list-manage.com/subscribe/post?u=9fb325f5404068a58e9f948ec&amp;id=2bc4943abb', target='_blank')
          input.form-control(type='email', name='EMAIL', placeholder='Email Address')
          button.btn.btn-block.btn-primary.btn-sm(type='submit') Subscribe
  hr.invis
  .row
    .col-md-12
      .shop-item.col-md-3(ng-repeat='product in vm.products')
        a(href='/#!/product/{{ product.id }}')
          .entry
            img(ng-src='{{ product.images[0].src }}', alt='{{ product.title }}')
            .shop-item-title.text-center.clearfix
              h4 {{ product.title }}
              .shopmeta.clearfix
                span ${{ product.variants[0].price }}
  hr.invis