div.inner-wrapper
  header.header.header-relative.affix-top
    .container
      nav.navbar.yamm.navbar-default
        .container-full
          .navbar-table
            .navbar-cell
              .navbar-header
                a.navbar-brand(href='/')
                  img.icon-mark(src='assets/images/logo.png', alt='Beard Shine')
                div
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
                    span.sr-only Toggle navigation
                    span.fa.fa-bars
            .navbar-cell.stretch
              #bs-example-navbar-collapse-2.collapse.navbar-collapse
                .navbar-cell
                  ul.nav.navbar-nav.navbar-right
                    include top-nav.pug
  div(ui-view='')