//- Nav Partial
li
  a(href='/#/') Home
li
  a(href='/#/shop') Shop
li
  a(href='/#/about') About
li
  a(href='/#/faq') FAQ
li.shopcartmenu
  a(href='/#/cart')
    small Cart 
    span.countbadge(ng-show='vm.cartQty') {{ vm.cartQty }}