doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Beard Shine | Made from the good stuff
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/css/style.css')
  body(ng-app='app')
    #wrapper
      div(ui-view)
      footer.footer.bg-second.border-top
        .container
          .row.text-left
            .col-md-3
              .msidebar.infobox
                h4 PAYMENT METHODS
                p
                  i.fa.fa-cc-visa
                  i.fa.fa-cc-mastercard
                  i.fa.fa-cc-amex
            .col-md-3
              .msidebar.infobox
                h4 FREE SHIPPING
                p Free shipping on all orders over $50.00.
            .col-md-3
              .msidebar.infobox
                h4 SATISFACTION GUARANTEE
                p Problem? Check the FAQ's and let us know!.
            .col-md-3
              .msidebar.infobox
                h4 FOLLOW US
                p
                  a.social(href='https://www.instagram.com/beardshine/', target='_blank')
                    i.fa.fa-instagram
    script(src='http://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js')
    script(src='assets/js/bundle.min.js')