extends partials/layout.pug

block content
  section.section.white.nopadtop
    .container
      .row
        .col-md-12
          img(src='assets/images/hero.jpg')
      hr.invis
      .row
        .col-md-4
          .service-box
            i.shicon
            h4 HAND MADE
            p
              | Each formula has been hand crafted based on different life experiences. Each bottle is then hand poured.
        .col-md-4
          .service-box
            i.shicon
            h4 QUALITY INGREDIENTS
            p
              | We source all of our base and essential oils from the best sources, so you can be sure they will work.
        .col-md-4
          .service-box
            i.shicon
            h4 UNBEATABLE PRICE
            p
              | Your beard takes a lot of work and we want to help by keeping our prices as low as we possibly can.
      hr.invis
      .col-md-12
        .shop-item.col-md-3
          .entry
            a(href='shop-single-1.html', title='')
              img(src='assets/images/products/base.png', alt='')
            .shop-item-title.text-center.clearfix
              h4
                a(href='shop-single-1.html') Morning Coffee
              .shopmeta.clearfix(data-id='7773579664')
                span $12
        .shop-item.col-md-3
          .entry
            a(href='shop-single-1.html', title='')
              img(src='assets/images/products/base.png', alt='')
            .shop-item-title.text-center.clearfix
              h4
                a(href='shop-single-1.html') Southern Tobacco
              .shopmeta.clearfix(data-id='7773657808')
                span $12
        .shop-item.col-md-3
          .entry
            a(href='shop-single-1.html', title='')
              img(src='assets/images/products/base.png', alt='')
            .shop-item-title.text-center.clearfix
              h4
                a(href='shop-single-1.html') Ol Pejeta
              .shopmeta.clearfix(data-id='7773660496')
                span $12
        .shop-item.col-md-3
          .entry
            a.hover-image(href='shop-single-1.html', title='')
              img(src='assets/images/products/base.png', alt='')
            .shop-item-title.text-center.clearfix
              h4
                a(href='shop-single-1.html') Citrus Mint
              .shopmeta.clearfix(data-id='7773662288')
                span $12