doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Beard Shine | Beard Oil For All
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/css/style.css')
  body
    #wrapper
      header.header
        .container
          nav.navbar.navbar-default.yamm
            .container-fluid
              .navbar-table
                .navbar-cell
                  .navbar-header
                    a.navbar-brand(href='/')
                      img.icon-mark(src='assets/images/icon-xmas.png', alt='Beard Shine')
                    .open-menu
                      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
                        span.sr-only Toggle navigation
                        span.fa.fa-bars
            .container-menu
              .navbar-table
                .navbar-cell.stretch
                  #bs-example-navbar-collapse-2.collapse.navbar-collapse
                    .navbar-cell
                      ul.nav.navbar-nav.navbar-center
                        include top-nav.pug
      block content
      section
        .atl
          img(src='assets/images/atl.png', alt='Atlanta')
          p Hand Made In Atlanta
      footer.footer.bg-second.border-top
        .container
          .row.text-left
            .col-md-3
              .msidebar.infobox
                h4 PAYMENT METHODS
                p
                  i.fa.fa-cc-visa
                  i.fa.fa-cc-mastercard
                  i.fa.fa-cc-amex
            .col-md-3
              .msidebar.infobox
                h4 FREE SHIPPING
                p Free shipping on all orders over $50.00.
            .col-md-3
              .msidebar.infobox
                h4 SATISFACTION GUARANTEE
                p Problem? Let us know, we&apos;ll fix it.
            .col-md-3
              .msidebar.infobox
                h4 FOLLOW US
                p
                  a.social(href='https://www.instagram.com/beardshine/', target='_blank')
                    i.fa.fa-instagram
    script(src='http://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='assets/js/bundle.min.js')
