section.section.banner(style="background-image:url('../assets/images/inner-pages.jpg');", data-img-width='1920', data-img-height='644', data-diff='100')
  .container
    .page-header.text-center
      h1 Shop Beard Shine
section.section.white.darkborder
  .container
    .row
      #rightside.col-md-12.col-sm-12
        #single-shop.row
          .col-md-4
            .shop-images
              img(ng-src='assets/images/{{ vm.product.image }}')
          .col-md-8
            .shop-top-title
              h4 {{ vm.product.name }}
              |  
              small {{ vm.tagline }}
              |  
              strong ${{ vm.product.price }}
            p 
              | {{ vm.product.description }}
            form(ng-submit='vm.addToCart()')
              .select-qty.clearfix
                small QTY
                .wan-spinner.wan-spinner-2(style='border-color: rgb(44, 62, 80);')
                  span.minus(ng-click='vm.changeQty("down")') -
                  input(type='text', style='width: 40px;' ng-model='vm.prodObj.qty')
                  span.plus(ng-click='vm.changeQty("up")') +
              .add-cart-button.clearfix
                a.btn.btn-white(href='{{ vm.atcURL }}', title='add to cart') Add to Cart
        hr.invis